<div class="container">
 <!-- to display question name here -->
  <h3><%= @question.question%></h3>
  <%= simple_form_for [@question, @answer] do |f| %>
    <%= f.input :answer %>
    <%= f.submit%>
  <% end %>

  <h4>Answers  by different users</h4>

   <ul>
    <% @question.answers.each do|answer| %>
  <li>
     <%= answer.answer %>
     <%= answer.created_at %>
  </li>
  <% end %>
</ul>

 <h3>If You think Its improper and You wanna ask a proper One</h3>
  <%= link_to "Click Here to ask A Question" , new_question_path %>
</div>