<div class="container">
 <!-- to display question name here -->
 <h3><%= @question.question%></h3>
 <%= simple_form_for [@question, @answer] do |f| %>
 <%= f.input :answer %>
 <%= f.submit 'Answer' %>
 <% end %>

 <h4>Answers By Users/h4>

 <ul>
  <% @question.answers.each do|answer| %>
  <li>
    <div class="col-md-10">

     <%= answer.answer %>
   </div>
   <div class="col-md-2">

     <%= answer.created_at %>
   </div>

 </li>
 <% end %>
</ul>


<h3>If You think Its improper</h3>
<%= link_to "Click Here to Ask Question" , new_question_path %>
</div>
